<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriers>
			<upsfreightshipping>
				<model>jmodz\Upsfreightshipping\Model\Carrier\Upsfreightshipping</model>
				<active>1</active>
				<testMode>1</testMode>
				<sallowspecific>0</sallowspecific>
				<name>UpsFreight</name>
				<title>UPS Freight LTL</title>
				<prod_gateway_url>https://onlinetools.ups.com/webservices/FreightRate</prod_gateway_url>
				<test_gateway_url>https://wwwcie.ups.com/webservices/FreightRate</test_gateway_url>
				<usefixedrate>0</usefixedrate>
				<activation_weight>0</activation_weight>
				<handling1_fee>0</handling1_fee>
				<handling2_fee>0</handling2_fee>
				<palletweight>0</palletweight>
				<methodtext>Standard Service</methodtext>     
				<showResidentialFee>0</showResidentialFee>
				<residentialfee>80</residentialfee>
				<residentialratetext>Standard Service (residential delivery)</residentialratetext>                                   
				<allowed_methods>STANDARD</allowed_methods>
				<max_package_weight>50000</max_package_weight>
				<max_freight_cost>100000</max_freight_cost>
				<showmethod>1</showmethod>
				<specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
				<!--<active>0</active>
				<title>Upsfreightshipping</title>
				<name>Upsfreightshipping</name>
				<price>0.00</price>
				<specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
				<sallowspecific>0</sallowspecific>-->
			</upsfreightshipping>
		</carriers>
	</default>
</config>
