<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="carriers" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
			<group id="upsfreightshipping" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Upsfreightshipping</label>
				<field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="testMode" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="12" translate="label" type="select">
					<label>*Run in test mode (required to generate rate for production access). After acquiring production access (follow install doc), turn this value to false.</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Title</label>
				</field>
				
				<field id="usefixedrate" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="30" translate="label" type="select">
					<label>Fixed Rate (If yes, the rate request will be ignored and only the handling fees will be applied)</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="prod_gateway_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
					<label>Production Gateway URL</label>
				</field>
				<field id="test_gateway_url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="text">
					<label>Test Gateway URL</label>
				</field>
				<field id="key" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="60" translate="label" type="obscure">
					<label>UPS Access License Number (key)</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
				<field id="module_key" showInDefault="0" showInStore="0" showInWebsite="0" sortOrder="70" translate="label" type="obscure">
					<label>Module Registration Key</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
				<field id="token_username" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="80" translate="label" type="text">
					<label>UPS Username</label>
				</field>
				<field id="token_password" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="90" translate="label" type="obscure">
					<label>UPS Password</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
				<field id="requestor_type" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="100" translate="label" type="select">
					<label>Requestor Type</label>
					<source_model>jmodz\Upsfreightshipping\Model\Config\Source\Roleofrequestor</source_model>
				</field>
				<field id="billto_address" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="110" translate="label" type="text">
					<label>Bill To Address</label>
				</field>
				<field id="billto_city" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="120" translate="label" type="text">
					<label>Bill To City</label>
				</field>
				<field id="billto_state" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="130" translate="label" type="text">
					<label>Bill To State</label>
				</field>
				<field id="billto_zip" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="140" translate="label" type="text">
					<label>Bill To Zip</label>
				</field>
				<field id="billto_country" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="150" translate="label" type="text">
					<label>Bill To Country</label>
				</field>
				<field id="activation_weight" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="160" translate="label" type="text">
					<label>Activation Weight (Display this shipping method only when the combined package weight exceeds this value)</label>
				</field>
				<field id="max_package_weight" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="170" translate="label" type="text">
					<label>Maximum Package Weight (Please consult your shipping carrier for maximum supported shipping weight)</label>
				</field>
				<field id="max_freight_cost" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="180" translate="label" type="text">
					<label>Maximum Freight Cost (The max estimated freight charge will not exceed this value)</label>
				</field>
				
				<field id="allowed_methods" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="190" translate="label" type="multiselect">
					<label>Allowed methods</label>
					<source_model>jmodz\Upsfreightshipping\Model\Config\Source\Method</source_model>
				</field>
				<field id="palletweight" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="200" translate="label" type="text">
					<label>Pallet Weight</label>
				</field>
				<field id="methodtext" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="210" translate="label" type="text">
					<label>Rate Text (this is the text that will be displayed with the rate quote)</label>
				</field>
				
				<field id="freight_class" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="220" translate="label" type="select">
					<label>Freight Class</label>
					<source_model>jmodz\Upsfreightshipping\Model\Config\Source\Freightclass</source_model>
				</field>
				<field id="package_type" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="230" translate="label" type="select">
					<label>Package Type</label>
					<source_model>jmodz\Upsfreightshipping\Model\Config\Source\Packagetype</source_model>
				</field>
				<field id="showResidentialFee" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="240" translate="label" type="select">
					<label>Show Residential Rate</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				
				<field id="residentialfee" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="250" translate="label" type="text">
					<label>Residential Rate to add</label>
				</field>
				<field id="residentialratetext" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="260" translate="label" type="text">
					<label>Residential Rate Text (this is the text that will be displayed with the residential rate quote)</label>
				</field>
				
				<field id="handling1_type" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="270" translate="label" type="select">
					<label>Calculate Additional Handling Fee (applied to shipping rate)</label>
					<source_model>Magento\Shipping\Model\Source\HandlingType</source_model>
				</field>
				<field id="handling1_fee" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="280" translate="label" type="text">
					<label>Handling Fee</label>
				</field>
				
				<field id="handling2_type" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="290" translate="label" type="select">
					<label>Calculate Additional Handling Fee (applied to result of first handling fee)</label>
					<source_model>Magento\Shipping\Model\Source\HandlingType</source_model>
				</field>
				<field id="handling2_fee" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="300" translate="label" type="text">
					<label>Additional Handling Fee</label>
				</field>
				
				<field id="showmethod" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="310" translate="label" type="select">
					<label>Show Method if Not Applicable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="specificerrmsg" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="320" translate="label" type="textarea">
					<label>Displayed Error Message</label>
				</field>
				
				
				<!--<field id="price" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
					<label>Price</label>
					<validate>validate-number validate-zero-or-greater</validate>
				</field>
				<field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
					<label>Sort Order</label>
				</field>
				<field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="text">
					<label>Title</label>
				</field>
				<field id="sallowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="select">
					<label>Ship to Applicable Countries</label>
					<frontend_class>shipping-applicable-country</frontend_class>
					<source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
				</field>
				<field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="multiselect">
					<label>Ship to Specific Countries</label>
					<can_be_empty>1</can_be_empty>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
				</field>
				<field id="specificerrmsg" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80" translate="label" type="textarea">
					<label>Displayed Error Message</label>
				</field>-->
			</group>
		</section>
	</system>
</config>
